<template>
  <div class="hello" :class="currentStep" v-bind:style="{ backgroundImage: gradient}" @dblclick="startBreathing">
      <!--<span>{{currentStep}}</span> <br/>-->
      <div class="count">{{displayCount}}</div>
      <div class="">{{currentStep}}: {{lap.current}}</div>

    <!--<span>Einatmen: {{inhale}}</span> <br />-->
      <!--<span>Anhalten: {{keep}}</span> <br />-->
      <!--<span>Ausatmen: {{exhale}}</span> <br />-->
      <!--<span>Wiederholung: {{lap}}</span> <br />-->
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  created() {
    this.inhale.target = this.base;
    this.keep.target = this.base * 4;
    this.exhale.target = this.base * 2;
  },
  methods: {
    startBreathing() {
      if (!this.breathing) {
        this.breathe();
      } else {
        if (this.timeout) {
          clearTimeout(this.timeout);
        }
        this.inhale.current = 0;
        this.keep.current = 0;
        this.exhale.current = 0;
        this.lap.current = 0;
      }
      this.breathing = !this.breathing;
    },
    breathe() {
      if (this.inhale.current < this.inhale.target) {
        this.currentStep = 'inhale';
        this.inhale.current += 1;
        this.timeout = setTimeout(this.breathe, 1000);
        return;
      }
      if (this.keep.current < this.keep.target) {
        this.currentStep = 'keep';
        this.keep.current += 1;
        this.timeout = setTimeout(this.breathe, 1000);
        return;
      }
      if (this.exhale.current < this.exhale.target) {
        this.currentStep = 'exhale';
        this.exhale.current += 1;
        this.timeout = setTimeout(this.breathe, 1000);
        return;
      }

      if (this.lap.current < this.lap.target) {
        this.nextLap();
        return;
      }

      this.currentStep = 'finished';
    },
    nextLap() {
      this.inhale.current = 0;
      this.keep.current = 0;
      this.exhale.current = 0;
      this.lap.current += 1;

      setTimeout(this.breathe, 1000);

    }
  },
  computed: {
    displayCount() {
      if (this.inhale.current < this.inhale.target) {
        return this.inhale.target - this.inhale.current;
      }

      if (this.keep.current < this.keep.target) {
        return this.keep.target - this.keep.current;
      }

      if (this.exhale.current < this.exhale.target) {
        return this.exhale.target - this.exhale.current;
      }

      return 0;
    },
    gradient() {
      if (this.inhale.current < this.inhale.target) {
        const percent = this.inhale.current / this.inhale.target  * 100;
        return `linear-gradient(to top, #00ff23 0%, #006414 ${percent}%)`;
      }

      if (this.keep.current < this.keep.target) {
        const percent = this.keep.current / this.keep.target *100;
        return `linear-gradient(to top, #fff200 0%, #bdb000 ${percent}%)`;
      }

      if (this.exhale.current < this.exhale.target) {
        const percent = this.exhale.current / this.exhale.target * 100;
        return `linear-gradient(to top, #0082ff ${100-percent}%, #004187 0%)`;
      }

      return 0;
    }
  },
  data() {
    return {
      timeout: undefined,
      breathing: false,
      currentStep: '',
      base: 7,
      inhale: {
        target: 0,
        current: 0
      },
      keep: {
        target: 0,
        current: 0
      },
      exhale: {
        target: 0,
        current: 0
      },
      lap: {
        target: 10,
        current: 0,
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
h3
  margin 40px 0 0

ul
  list-style-type none
  padding 0

li
  display inline-block
  margin 0 10px

a
  color #42b983
.hello
  position absolute
  opacity 0.5
  cursor pointer
.inhale
  transition all 1s ease
  background-image: linear-gradient(to top, #00ff23 0%, #006414 100%)
.keep
  transition all 1s ease
  background-image: linear-gradient(to top, #fff200 0%, #bdb000 100%)
.exhale
  transition all 1s ease
  color white
  background-image: linear-gradient(to top, #0082ff 0%, #004187 100%)
.count
  font-size 50vh
</style>
